
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:wght@100..900&display=swap');



body {
	padding: 0;
	margin: 0;
	font-family: 'Anton', sans-serif;
	font-size: 16px;
  scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

h2 {
	font-size: 50px;
	margin-bottom: 58px;
}

h3 {
	font-size: 25px;
	margin-bottom: 28px;
}

a {
	text-decoration: none;
}


p {
	margin: 0;
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

.container {
	width: 1170px;
	/*позиционирование по центру*/
	margin: 0 auto; 
}

.header {
	padding-top: 60px;
	color: #fff;
	padding-bottom: 110px;
    background: rgb(0,0,0);
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%,
     rgba(33,33,41,1) 58%, rgba(61,61,70,1) 95%);
}

.nav {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  background-color: #18181800;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  z-index: 7;
  transition: 0.6s;
}

.nav.sticky {
  padding: 3px 100px;
  background-color: rgba(202, 202, 202, 0.932);
}

.nav.sticky .MT,
.nav.sticky ul li a{
  color: rgb(0, 0, 0);
}

.nav.sticky ul li a:hover{
  border-bottom: 1px solid rgb(0, 0, 0);
}

.menu {
  position: relative;
	display: flex;
  justify-content: center;
  align-items: center;
}

.menu li {
  position: relative;
	margin-right: 40px;
}

.menu li a {
  position: relative;
	font-size: 17px;
	letter-spacing: 0.1em;
  color: #fff;
  transition: 0.6s;
}

.menu li a:hover {
	border-bottom: 1px solid #fff;
}

.menu :last-child {
  margin-right: 0;
}

.MT {
  position: relative;
  transition: 0.6s;

  font-size: 30px;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.logo {
  width: 615px;
  height: 600px;
  margin-top: 10px;
  margin-left: 25px;
  transition: 0.3s;
}

.logo:hover {
  box-shadow: 0 20px 40px rgba(255, 255, 255, 0.3);
}

.h2-1 {
  font-size: 32px;
  position: absolute;
  margin-left: 560px;
  margin-top: 180px;
  text-transform: none;
  font-family: "Inter", sans-serif;
  word-spacing: 4px;
  letter-spacing: 1.2px;
}

.h2-2 {
  font-size: 32px;
  position: absolute;
  margin-left: 560px;
  margin-top: 280px;
  text-transform: none;
  font-family: "Inter", sans-serif;
  word-spacing: 4px;
  letter-spacing: 1.2px;
}

.h2-3 {
  font-size: 32px;
  position: absolute;
  margin-left: 560px;
  margin-top: 410px;
  text-transform: none;
  font-family: "Inter", sans-serif;
  word-spacing: 4px;
  letter-spacing: 1.2px;
}

.kot {
  position: relative;
  width: 55px;
  margin-left: -36px;
  top: 2px;
}


.box {
  width: 340px;
  position: relative;
  left: 160px;
  top: -3px;
  height: auto;
  float: left;
  transition: .5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 900;
  box-shadow: 0 0 2px 0px #fff;
  transition: 0.5s;
  color: #fff;
  letter-spacing: 1.5px;
  }
  
  .box:before {
  position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
  }
  
  .box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
  }
  
  .box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  
  .box:hover:before {
    border-color: #262626;
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
  }
  
  .box:hover:after {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;
  }
  
button {
  color: black;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
   background: transparent;
  }


.about {
  padding-top: 130px;
  color: #fff;
  background-color: #181818;
  padding-bottom: 130px;
  scroll-margin-top: -65px;
  }


.about-me {
  color: #7e8388;
  cursor: default;
  font-size: 17px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  
}

.h3-discr1 {
  color: rgb(250, 250, 250);
  margin-top: 31px;
  margin-bottom: 15px;
}

.discr-1 {
  color: #c5c5c5;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.7px;
  word-spacing: 2.5px;  
  line-height: 35.5px;
  padding-top: 30px;
}


.discr-photo1 {
  width: 370px;
  position: relative;
  margin-left: 640px;
  margin-top: -381px;
  transition: 0.3s;
}

.discr-photo1:hover {
  box-shadow: 0 20px 40px rgba(255, 255, 255, 0.3);
	transform: scale(1.02);
}

.info {
  box-shadow: 1px 1px 10px 1px  #ffffff;
  padding: 60px 400px 100px 100px;
  
}

.info2 {
  display: flex;
}

.article1 {
  position: absolute;
  padding-top: 200px;
  padding-left: 450px;
}

.discr-photo2 {
  width: 370px;
  position: relative;
  margin-top: 165px;
  transition: 0.3s;
  z-index: 5;
}

.discr-photo2:hover {
  box-shadow: 0 20px 40px rgba(255, 255, 255, 0.3);
	transform: scale(1.02);
}

.h3-discr2 {
  color: rgb(250, 250, 250);
  margin-top: 31px;
  margin-bottom: 15px;
}

.discr-2 {
  color: #c5c5c5;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.7px;
  word-spacing: 2.5px;  
  line-height: 35.5px;
  padding-top: 30px;
}

.target {
  text-align: center;
  margin-top: 170px;
  margin-left: 63px;
  color: #d8d8d8;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.7px;
  word-spacing: 2.5px;  
  line-height: 35.5px;
  width: 850px;
}

.work-w-me {
  padding-bottom: 200px;
  background-color: rgb(0, 0, 0);
}



