@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Inter:wght@100..900&display=swap');



body {
  padding: 0;
  margin: 0;
  font-family: 'Anton', sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

h3 {
  font-size: 25px;
  margin-bottom: 28px;
}

a {
  text-decoration: none;
}


p {
  margin: 0;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

.container {
  width: 1170px;
  /*позиционирование по центру*/
  margin: 0 auto;
  cursor: default;
}

.header {
  padding-top: 60px;
  color: #fff;
  padding-bottom: 80px;
  background: rgb(0, 0, 0);
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%,
      rgba(33, 33, 41, 1) 58%, rgba(61, 61, 70, 1) 95%);
}

.nav {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  background-color: #18181800;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  z-index: 7;
  transition: 0.6s;
}

.nav.sticky {
  padding: 3px 100px;
  background-color: rgba(202, 202, 202, 0.932);
}

.nav.sticky .MT,
.nav.sticky ul li a {
  color: rgb(0, 0, 0);
}

.nav.sticky ul li a:hover {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li {
  position: relative;
  margin-right: 40px;
}

.menu li a {
  position: relative;
  font-size: 17px;
  letter-spacing: 0.1em;
  color: #fff;
  transition: 0.6s;
}

.menu li a:hover {
  border-bottom: 1px solid #fff;
}

.menu :last-child {
  margin-right: 0;
}

.MT {
  position: relative;
  transition: 0.6s;

  font-size: 30px;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

.logo {
  width: 615px;
  height: 600px;
  margin-top: 10px;
  margin-left: -290px;
  transition: 0.3s;
}

.logo:hover {
  box-shadow: 0 20px 40px rgba(255, 255, 255, 0.3);
}

.h2-1 {
  font-size: 32px;
  position: absolute;
  margin-left: 560px;
  margin-top: 180px;
  text-transform: none;
  font-family: "Inter", sans-serif;
  word-spacing: 4px;
  letter-spacing: 1.2px;
}

.h2-2 {
  font-size: 32px;
  position: absolute;
  margin-left: 560px;
  margin-top: 280px;
  text-transform: none;
  font-family: "Inter", sans-serif;
  word-spacing: 4px;
  letter-spacing: 1.2px;
}

.h2-3 {
  font-size: 32px;
  position: absolute;
  margin-left: 560px;
  margin-top: 410px;
  text-transform: none;
  font-family: "Inter", sans-serif;
  word-spacing: 4px;
  letter-spacing: 1.2px;
}

.kot {
  position: relative;
  width: 55px;
  margin-left: -36px;
  top: 2px;
}


.box {
  width: 340px;
  position: relative;
  left: 850px;
  top: 550px;
  height: auto;
  float: left;
  transition: .5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 900;
  box-shadow: 0 0 2px 0px #fff;
  transition: 0.5s;
  color: #fff;
  letter-spacing: 1.5px;
}

.box:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.box:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.box:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.box:hover:before {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .3s;
}

.box:hover:after {
  border-color: #262626;
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;
}

.button {
  color: black;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

.about {
  padding-top: 70px;
  color: #fff;
  background-color: #181818;
  padding-bottom: 100px;
}

.about-me {
  color: #7e8388;
  cursor: default;
  font-size: 17px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;

}

.h3-discr1 {
  color: rgb(250, 250, 250);
  margin-top: 31px;
  margin-bottom: 15px;
}

.discr-1 {
  color: #c5c5c5;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.7px;
  word-spacing: 2.5px;
  line-height: 35.5px;
  padding-top: 30px;
}

.discr-photo1 {
  width: 370px;
  position: relative;
  margin-left: 640px;
  margin-top: -381px;
  transition: 0.3s;
}

.discr-photo1:hover {
  box-shadow: 0 20px 40px rgba(255, 255, 255, 0.3);
  transform: scale(1.02);
}

.info {
  box-shadow: 1px 1px 10px 1px #ffffff;
  padding: 60px 400px 70px 100px;
}

.info2 {
  display: flex;
}

.article1 {
  position: absolute;
  padding-top: 170px;
  padding-left: 450px;
}

.discr-photo2 {
  width: 370px;
  position: relative;
  margin-top: 135px;
  transition: 0.3s;
  z-index: 5;
}

.discr-photo2:hover {
  box-shadow: 0 20px 40px rgba(255, 255, 255, 0.3);
  transform: scale(1.02);
}

.h3-discr2 {
  color: rgb(250, 250, 250);
  margin-top: 31px;
  margin-bottom: 15px;
}

.discr-2 {
  color: #c5c5c5;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.7px;
  word-spacing: 2.5px;
  line-height: 35.5px;
  padding-top: 30px;
}

.target {
  text-align: center;
  margin-top: 100px;
  margin-left: 63px;
  color: #d8d8d8;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.7px;
  word-spacing: 2.5px;
  line-height: 35.5px;
  width: 850px;
}

.keys {
  background-color: #2c2c2c;
  padding-bottom: 110px;
  scroll-margin-top: 70px;
}

.keys-ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 28px;
  margin-left: -110px;
}

.keys-1 {
  width: 310px;
  height: 385px;
  object-fit: cover;
  border-radius: 35px;
  box-shadow: 0 20px 40px rgba(255, 255, 255, 0.3);
  transition: all 0.3s;
}

.keys-3 {
  width: 310px;
  height: 385px;
  object-fit: cover;
  border-radius: 35px;
  box-shadow: 0 20px 40px rgba(255, 255, 255, 0.3);
  transition: all 0.3s;
}

.keys-1:hover , .keys-3:hover {
  box-shadow: 10px 30px 60px rgba(255, 255, 255, 0.3);
  transform: scale(1.01);
}

.opyt {
  color: #c5c5c5;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.7px;
  word-spacing: 2.5px;
  line-height: 35.5px;
  padding-top: 70px;
}


.uslugi {
  padding-bottom: 70px;
  background-color: rgb(0, 0, 0);
}

.h2-uslugi {
  color: #7e8388;
  cursor: default;
  font-size: 17px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 80px;
}

.table-uslug {
  color: #fff;
  border-bottom: 0.2px solid rgb(255, 255, 255);
  padding-bottom: 49px;
}

.table-uslug th {
  padding-right: 300px;
  padding-top: 30px;
}

.table-uslug th:last-child {
  padding-right: 180px;
}

.table-uslug th:nth-child(2) {
  padding-right: 310px;
}

.wwme {
  color: #fff;
  color: #7e8388;
  cursor: default;
  font-size: 17px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 65px;
}

.fdays {
  color: rgb(255, 53, 53);
}

.up {
  color: rgb(64, 64, 255);
  font-size: 30px;
  font-weight: 900;
}

.garant {
  color: green;
  font-size: 30px;
  font-weight: 900;
}

.table-td {
  padding-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  letter-spacing: 0.6px;
  font-weight: 600;
}

.table-td2 {
  color: #c5c5c5;
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.7px;
  word-spacing: 2.2px;
  line-height: 35.5px;
  padding-top: 15px;
}

.katalog {
  padding-bottom: 60px;
  background-color: rgb(0, 0, 0);
  scroll-margin-top: 75px;
}

.h2-katalog {
  color: #7e8388;
  cursor: default;
  font-size: 17px;
  font-weight: 800;
  word-spacing: 4px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
  margin-bottom: 15px;
}

.podrobnee {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  color: #7e8388;
  border-bottom: #7e8388 1px solid;
  font-size: 13px;
}

.popup {
  display: none;
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 70px;
  padding-right: 70px;
  background-color: #3a3a3a;
  border-radius: 5px;
  z-index: 1000;
  box-shadow: 0 5px 20px #f3663b8e;
  transition: 0.3s;
}

.popup:hover {
  box-shadow: 0 10px 30px #f3663b8e;
}

.dop-infa-box :last-child {
  padding-bottom: 20px;
}

b {
  color: #f3663b;
}

.p-dop-infa {
  color: #c5c5c5;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 0.5px;
  word-spacing: 1px;
}

.one {
  color: #f3663b;
}

.podrobnee:hover {
  opacity: 0.8;
}

.close {
  border: none;
  background-color: #b95739;
  border-radius: 20px;
  padding-left: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 15px;
  transition: 0.3s all;
}

.close:hover {
  box-shadow: 1px 4px 20px #f3663b8e;
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
}

.ul-katalog {
  color: #d8d8d8;
  margin-top: 65px;
}

.ul-katalog li {
  padding-bottom: 45px;
}

.ckbx3 {
  letter-spacing: 2px;
  word-spacing: 3px;
  font-size: 18px;
  font-weight: 600;
  padding-left: 10px;
}

.checkbox {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.checkbox__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox__label {
  display: inline-block;
  padding-left: 30px;
  margin-bottom: 10px;
  position: relative;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.checkbox__custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: linear-gradient(#665f5f, #212121) padding-box,
    linear-gradient(145deg, #c489ca, #6ea9c0) border-box;
  border: 1px solid transparent;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.checkbox__input:checked+.checkbox__label .checkbox__custom {
  background-image: linear-gradient(145deg, #c489ca, #6ea9c0);
  transform: rotate(45deg) scale(0.8);
}

.checkbox__label:hover .checkbox__custom {
  transform: scale(1.1);
}

.price {
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  padding-left: 10px;
  margin-top: -10px;
}

.dalee {
  position: relative;
  z-index: 2;
  color: #000000;
  font-size: larger;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 50px 10px 50px;
  border-radius: 25px;
  background: linear-gradient(145deg, #c489ca, #6ea9c0) border-box;
  transition: all 0.2s;
}

.dalee:hover {
  opacity: 0.9;
  box-shadow: 0 8px 35px #c489ca;
}

.footer {
  padding-bottom: 100px;
  box-shadow: 5px 200px 400px rgba(0, 0, 0, 0.4);
  background: #524f4f;
  padding-top: 60px;
}

.h3-footer {
  color: #dfd7d7;
}

.footer-cont {
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  padding: 80px 60px 80px 60px;
  background-color: #2c2c2c;
  box-shadow: 0 30px 50px rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  transition: all 0.3s;
}

.footer-cont:hover {
  box-shadow: 0 50px 80px rgba(255, 255, 255, 0.404);
  transform: scale(1.006);
}

.footer-content-icons {
  display: flex;
  gap: 15px;
}

.footer-p {
  color: #dfd7d7;
  font-size: large;
  letter-spacing: 0.9px;
  line-height: 33px;
}

.footer-href {
  color: #dfd1d1;
  font-size: large;
  letter-spacing: 0.9px;
}

.footer-href:hover {
  opacity: 0.8;
  border-bottom: 0.5px solid #aaa8a8;
}

.konec {
  position: absolute;
  margin-top: 295px;
  margin-left: 530px;
  color: rgb(58, 58, 58);
  font-size: larger;
}

.footer-href-icon {
  width: 30px;
  height: 30px;
  transition: all 0.3s;
}

.footer-href-icon:hover {
  transform: scale(1.2);
}


@media (max-width: 1264px) {
  .box {
   left: 800px;
  }
  .container {
    width: 100%;
  }
}

@media (max-width: 1192px) {
  .box {
    left: 750px;
  }
  .container {
    width: 100%;
    margin: 0 auto;
  }
}

@media (max-width: 1149px) {
  .container {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
  }
  
  .logo {
    width: 360px;
    height: 360px;
  }

  .h2-1 {
    margin-top: 47px;
    margin-left: 472px;
  }

  .h2-2 {
    margin-top: 162px;
    margin-left: 472px;
  }

  .h2-3 {
    margin-top: 283px;
    margin-left: 472px;
  }

  .box {
    top: 381px;
    left: 650px;
    padding: 11px;
    widows: 310px;
    font-weight: 600;
  }

  .discr-photo1 {
    width: 322px;
    margin-left: 590px;
  }

  .keys-ul {
    margin-left: -137px;
    justify-content: center;
    gap: 25px;
  }

  .keys-1 {
    width: 295px;
  }

  .keys-3 {
    width: 295px;
  }

  .table-uslug th {
    padding-right: 233px;
  }

  .table-uslug th:last-child {
    padding-right: 300px;
  }

  .table-uslug th:nth-child(2) {
    padding-right: 233px;
  }

  .table-td2 {
    font-size: 16px;
    padding-right: 12px;
    flex-direction: column;
  }

  .footer-cont {
    padding: 80px 207px 81px 57px;
  }

  footer {
    width: 100%;
  }
}

@media (max-width: 768px) {

  .header {
    width: 100%;
    margin-right: 0;
  }

  .box {
    margin-right: -100px;
  }

  .section {
    padding: 0;
    margin: 0;
  }

  .logo {
    width: 220px;
    height: 220px;
    margin-right: 50px;
  }

  .kot {
    position: relative;
    right: 40px;
    width: 35px;
  }

  .h2-1,
  .h2-2,
  .h2-3 {
    font-size: 15px;
    right: 100px;
    top: -100px;
  }



}







/*<footer>
<div class="footer-content">
  <p>MTarget; 2022</p>
  <p>Мои соцсети</p>
  <div class="social-icons">
    <a href="#"><img src="facebook.png" alt="Facebook" class="social-icon"></a>
    <a href="#"><img src="twitter.png" alt="Twitter" class="social-icon"></a>
    <a href="#"><img src="instagram.png" alt="Instagram" class="social-icon"></a>
  </div>
</div>
</footer>

footer {
  background-color: #333;
  color: #fff;
  padding: 100px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .footer-content {
    flex-direction: row;
  }
}

.footer-content p {
  margin: 5px 0;
}

.social-icons {
  margin-top: 10px;
}

.social-icon {
  display: inline-block;
  margin: 0 10px;
} */
